.caro{
    /* height: 0.8vh; */
    /* visibility: hidden; */
}
    
.foot{
    
    background-image: linear-gradient(rgb(199, 149, 207),rgb(114, 114, 189));
    
    height: fit-content;
    width: 100% ;
  
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   gap: 10px;
   justify-content: space-evenly;
    /* z-index: 10; */
}


img{
    height: 50%;
    width: 100%;
    /* visibility: hidden; */
}